/*basic Setup */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

body {
  box-sizing: border-box;
}

section {
  margin: 20px 0px;
}

.section-title {
  color: #636363 !important;
  text-align: center;
  padding-bottom: 15px;
  font-size: 25px;
}

.primary-link-see_all {
  color: #848484 !important;
  font-size: 25px;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.header-logo {
  width: 20%;
  float: left;
}

.navbar {
  width: 80%;
  float: left;
  margin-top: 20px;
}

.header-logo img {
  height: 70px;
  width: 170px;
}

.navbar ul {
  list-style-type: none;
  position: relative;
}

.navbar ul li {
  float: left;
}

.navbar ul a {
  text-decoration: none;
  color: rgba(41, 38, 38, 0.8);
  font-weight: 500;
  padding: 10px;
  margin-right: 20px;
  font-size: 14px;
}

.navbar ul a:hover {
  color: #fff;
  border-radius: 5px;
  background-color: #a1979b;
}

.navbar ul .dropdown {
  position: absulate;
}

.slider-area {
  background-image: url("../images/banner.jpg");
  border-top: 1x solid #747272;
  opacity: 0.8;
  background-size: cover;
  background-position: center top;
  height: 70vh;
}

.slider-content {
  float: left;
  margin-top: 100px;
}

.slider-content__title {
  font-size: 30px;
  color: black !important;
}

.slider-content__name {
  font-size: 35px;
  color: green;
  font-weight: 700;
}

.slider-content__short-desc {
  font-size: 18px;
  color: black !important;
  text-align: justify;
}

.slider-content-video {
  height: 30px;
  width: 110px;
  border-radius: 5px;
  background-color: #a1979b;
}

.slider-content-video__text {
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
}

.slider-content-video__icon {
  height: 25px;
  width: 40px;
  color: #fff !important;
}

.icon-bar {
  background-color: #a1979b;
  width: 35px;
  margin-top: 200px;
}

.icon-bar a {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #fff;
  padding: 5px;
}

.icon-bar a:last-child {
  padding-bottom: 10px;
}

.icon-bar a:hover {
  background-color: #000;
}

/*recipe Section */
.recipe-items {
  float: left;
  text-align: center;
}

.recipe-items__img img {
  height: 100px;
  width: 200px;
}

.recipe-items__title {
  font-size: 20px;
  font-weight: 700;
  padding: 8px 42px;
  color: #848484;
}

.recipe-items__short-desc {
  text-align: justify;
  font-weight: 600;
  color: #848484;
  padding: 0px 13px;
}
