.header-logo {
  width: 20%;
  float: left;
}
.navbar {
  width: 80%;
  float: left;
  margin-top: 20px;
}
.header-logo img {
  height: 70px;
  width: 170px;
}

.navbar ul {
  list-style-type: none;
  position: relative;
  li {
    float: left;
  }
  a {
    text-decoration: none;
    color: rgba(41, 38, 38, 0.8);
    font-weight: 500;
    padding: 10px;
    margin-right: 20px;
    font-size: 14px;
  }
  a:hover {
    color: #fff;
    border-radius: 5px;
    background-color: #a1979b;
  }
  .dropdown {
    position: absulate;
  }
}
