/*recipe Section */

.recipe-items {
  float: left;
  text-align: center;
}
.recipe-items__img img {
  height: 100px;
  width: 200px;
}
.recipe-items__title {
  font-size: 20px;
  font-weight: 700;
  padding: 8px 42px;
  color: #848484;
}
.recipe-items__short-desc {
  text-align: justify;
  font-weight: 600;
  color: #848484;
  padding: 0px 13px;
}
