.slider-area {
  background-image: url("../images/banner.jpg");
  border-top: 1x solid #747272;
  opacity: 0.8;
  background-size: cover;
  background-position: center top;
  height: 70vh;
}
.slider-content {
  float: left;
  margin-top: 100px;
}
.slider-content__title {
  font-size: 30px;
  color: black !important;
}
.slider-content__name {
  font-size: 35px;
  color: green;
  font-weight: 700;
}
.slider-content__short-desc {
  font-size: 18px;
  color: black !important;
  text-align: justify;
}
.slider-content-video {
  height: 30px;
  width: 110px;
  border-radius: 5px;
  background-color: #a1979b;
}
.slider-content-video__text {
  color: #fff;
  font-size: 18px;
  margin-left: 10px;
  
}
.slider-content-video__icon {
  height: 25px;
  width: 40px;
  color: #fff !important;
}

.icon-bar {
  background-color: #a1979b;
  width: 35px;
  margin-top: 200px;
}
.icon-bar a {
  display: block;
  text-align: center;
  font-size: 15px;
  color: #fff;
  padding: 5px;
}
.icon-bar a:last-child {
  padding-bottom: 10px;
}
.icon-bar a:hover {
  background-color: #000;
}
